

header h1{
    text-align: center;
    background-color: yellow;
}



header a{
    text-decoration: none;
    border: 1px solid red;
    border-radius: 15px;
padding: 5px;

}

nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}   

header a:hover{
    color: orange;
}

main img{
    width: 150px;
    height: 150px;
}

img.a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    }

body{
    font-family: sans-serif;
}

h1{
    text-align: center;
}

table{
    border-collapse: collapse;
    border: 1px solid navy;
}

tr:first-child{
    background-color: #08E8DE;
    border: 3px solid navy;
}

td{
    border: 1px solid black;
    text-align: center;
}

td.b{
    background-color: green;
}

td.c{
    background-color: yellow;
}
td.d{
    background-color: red;
}

td:first-child{
    background-color: #08E8DE;
    border: 3px solid navy;
}

footer{
    background-color: yellow;

}

footer a{
    color: blue;
}

footer a:visited{
color: grey;
}

.Classical2{
    display: flex;
    justify-content: center;
}

.Penny2{
    display: flex;
    justify-content: center;
}

.Long2{
    display: flex;
    justify-content: center;
}



